.container-min-height {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation-header {
    font-family: 'Scheherazade New', serif;
    font-size: 40px;
    color: #15354F;
}

.reservation-form {
    font-family: 'Lato', sans-serif;
}

.form-control {
    font-family: 'Sen', sans-serif;
}

.btn-submit {
    font-family: 'Sen', sans-serif;
    background-color: #15354F;
    color: white;
    transition: box-shadow 0.3s ease;
}

.btn-submit:hover {
    background-color: #15354F;
    color: white;
    transition: none;
}
