.container-min-height {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-header {
    text-align: center;
    font-family: 'Scheherazade New', serif;
    font-size: 40px;
    color: #15354F;
}

.review-form {
    font-family: 'Lato', sans-serif;
}

.form-control {
    font-family: 'Sen', sans-serif;
}
