body {
    padding-top: 120px;
    font-family: 'Lato', sans-serif;
}

.navbar {
    height: 120px;
}

.btn-primary {
    background-color: #15354F;
    color: white;
    font-family: 'Sen', sans-serif;
}

.container-min-height {
    min-height: 100vh;
}

.container-feedback {
    min-height: 80vh;
}

.alert {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.auth-header {
    font-family: 'Scheherazade New', serif;
    font-size: 40px;
    color: #15354F;
}
